<template>
    <div class="about">
        <h1>This is an about page</h1>
        <p>{{ message }}</p>
    </div>
</template>
<script>
export default {
    name: "AboutView",
    data: () => ({
        message: undefined,
    }),
    async mounted() {
        this.message = await this.axios
            .get("/message")
            .then((res) => res.data.message);
    },
};
</script>
